@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Hind+Guntur&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One|Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgba(0, 0, 0, 1);
    --lightblue: #afd3f5;
    --blue: #1b4cee;
    --orange: #f3b82d;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.5s ease-in-out;
}

/* *************** banner section ********************* */
.banner_section {
    position: relative;
    height: calc(100vh);
    width: 100%;
    background: url(img/parcel1.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title {
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: absolute;
    top: 0%;
    left: 0%;
    background: #fff;
    width: 20%;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 10px;
}
.header-title a {
    color: var(--blue);
    text-decoration: none;
    transition: var(--mainTransition)
}
.header-title a:hover {
    font-size: 1.7rem;
}
.small-box{
    width: 30%;
    height: 17%;
    background:#013f7e;
    color: #d47b06;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    text-align: center;
    padding: 0.7rem;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20%;
    left: 5%;
}
.banner-display{
    vertical-align: middle;
    display: table-cell;
    width: 70%;  
}
.banner-para{
    color: white;
    text-shadow: 2px 2px 8px #111;
    font-family: catamaran;
    font-size: 3rem;
    float: left;
    text-align: center;
    padding-top: 6rem;

}

.banner {
    position: absolute;
    width: 20%;
    top: 5%;
    right: 5%;
    padding: 1rem;
    background: #013f7e;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.login-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #f3b82d;
}
.emaildiv {
    background: white;
    padding: 7px 18px;
    border: 0.5px solid #e78606;
    position: relative;
    border-radius: 5px;
}
#email {
    padding: 2px;
    border: none;
    outline: none;
    width: 60%;
    margin: 0.6rem 0;
}
.env {
    position: absolute;
    top: 30%;
    left: 2%;
    color: #908c8c;
    font-size: 0.8rem;
}

.passworddiv {
    background: white;
    padding: 7px 18px;
    border: 0.5px solid #e78606;
    position: relative;
    border-radius: 5px;
}

#password {
    background: #ffffff;
    padding: 3px;
    border: none;
    width: 60%;
    margin: 1rem 0;
    outline: none;
}

.key {
    position: absolute;
    top: 30%;
    left: 2%;
    color: #908c8c;
    font-size: 0.8rem;
}
.forgetpass {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-top:0.5rem;
    font-family: 'Quicksand',sans-serif;
}

.forgetpass a {
    text-decoration: none;
    color: #e78606;
    font-family: 'Quicksand',
    sans-serif;
}

.btn-login {
    padding: 5px 25px;
    margin: 0.5rem;
    border: none;
    background: #e78606;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.register-form{
    display: none;
    transition: var(--mainTransition);
}
.register-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #f3b82d;
}
.namediv {
    background: white;
    padding: 7px 18px;
    border: 0.5px solid #e78606;
    position: relative;
    border-radius: 5px;
}

#name {
    padding: 2px;
    border: none;
    outline: none;
    width: 60%;
    margin: 1rem 0;
}

.env {
    position: absolute;
    top: 30%;
    left: 2%;
    color: #908c8c;
    font-size: 0.8rem;
}

.btn-register {
    padding: 5px 25px;
    margin: 0.5rem;
    border: none;
    background: #e78606;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}


/* *************** banner section ********************* */